<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../static/js/sendurl.js"></script>
    <title>tiktok-tool</title>
</head>
<body>
    <h2 id="a">粘贴赋值的分享文本</h2>
    <input type="text" name="share-link" id="url"/>
    <br><br>
    <button onclick="postUrl()">开始下载</button>
    <button>
        <a href="http://127.0.0.1:5001/getvideo">保存本地</a>
    </button>
</body>


</html>